# for testing
export AWS_ACCESS_KEY_ID=backup
export AWS_SECRET_ACCESS_KEY=""
export AWS_S3_ENDPOINT="http://blueberry.wg:9000"
export AWS_S3_FORCE_PATH_STYLE=1

export VAULT_ADDR="http://10.100.0.1:8200"
