get_secret() {
  bash -c "cd ../secrets && agenix -d \"$1\""
}

export TF_VAR_do_token="$(get_secret do_token.age)"
export TF_VAR_minio_secret="$(get_secret minio-creds.age | sed -nr 's/MINIO_ROOT_PASSWORD=(.*)$/\1/p')"
export TF_VAR_backup_secret="$(get_secret s3-backup.age | sed 's/backup://')"
export TF_VAR_vault_token="$(get_secret vault/terraform.age)"

# for testing
export AWS_ACCESS_KEY_ID=backup
export AWS_SECRET_ACCESS_KEY="${TF_VAR_backup_secret}"
export AWS_S3_ENDPOINT="http://blueberry.wg:9000"
export AWS_S3_FORCE_PATH_STYLE=1

export VAULT_ADDR="http://10.100.0.1:8200"
export VAULT_TOKEN="${TF_VAR_vault_token}"
